<h1>Contact Clark</h1>
<form>
  <input type="hidden" name="contacterName">
  Name: <input type="text" id="fieldName" name="name"><br>
  E-mail: <input type="email" name="email"><br>
  Comment: <input type="text"><br>
  <input type="submit" value="Submit">
</form>
<script>
  $(document).ready(function(){
    $('input[name="contacterName"]').val(document.contacterName);
  })
</script>