{{#section 'head'}}
  <meta name="robots" content="noindex">
{{/section}}

<h1>Test Page</h1>
<p>We're testing jQuery here.</p>

{{#section 'jquery'}}
  <script>
    $('document').ready(function(){
      $('h1').html('jQuery is working');
    });
  </script>
{{/section}}